PORT=3000
LOG_LEVEL="trace" #trace, debug, info, warn, error, fatal
DATABASE_URL="postgresql://finance:finance@localhost:5432/finance_db?schema=public"
REDIS_URL="redis://localhost:6379"
IDEMPOTENCY_SECONDS=30
